@model SchoolFinalProject.Models.Student

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Student</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Student_Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Student_Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Student_Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Student_Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Student_Contact)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Student_Contact)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tutor_ID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tutor_ID.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
